<body  >

<div class="row" style="padding-top:70px; "></div>
   
    <div class="card" >
        <div class="row" >
            <div class="col-md-7">
      <div class="product-left">
        <div class="header">
          <h1>All Purpose</h1>
          <h2> Registered No: 16-8-8</h2>
        </div>
        <!--DESCRIPITON / DETAILS-->
        <div class="product-main">
         
          <div class="focus">
            <span>Chemical Composition</span>
            <span>Adventages</span>
            <span>Usage</span>
            <span>Dosage</span>
       
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quam vel, delectus expedita ullam asperiores laudantium modi. Voluptatum eum cum quis ea modi. Reiciendis asperiores aut beatae odit minima.</p>
        </div>
        <!--CHOOSE PRODUCT DETAILS-->
        <div class="product-details">
          
          <!--PRODUCT TOTAL-->
          <div class="row">
              <div class="col-6">
            <div class="product-total">
                <h3>Total Price</h3>
                <p>$1399.00</p>
              </div>
            </div>
            <div class="col-6">
              <div class="product-total">
                <h3>Packet</h3>
                <p>25-50 KG</p>
              </div>
            </div>
          </div>

        </div>
        <!-- ADD TO CART BUTTON -->
        <div class="product-btns">
          <a href="#" class="product-add">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="product-right" >
        <img src="./assets/2.jpg" style="height: 100%; padding-top: 100px; width: 100%;" class="img img-fluid" alt="">
      </div>
    </div>
    </div>
</div>

<div class="row" style="padding-top:100px; "></div>
</body>