<div class="container">
  <div class="row" style="padding-top: 60px">
    <div class="col-md-4">
      <h2>Products/ {{ searchText }}</h2>
    </div>
    <div class="col-md-8"></div>
  </div>
  <hr />
  <div class="row" style="margin-top: 30px; margin-right: 0px">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" [routerLink]="['../../details']" [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/1.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer a
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/2.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer b
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/3.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer a
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/4.jpeg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer d
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">

        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/1.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer a
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/2.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer b
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3" [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/3.jpg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer a
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
        <div class="col-md-3 " [routerLink]="['../../details']"  [@fadeInOut]>
          <span>
            <div class="card">
              <!-- Card image -->
              <div
                class="view overlay"
                style="align-content: center; text-align: center"
              >
                <img
                  style="height: 190px; width: 190px; padding: 10px"
                  class="card-img-top img img-fluid"
                  src="./assets/4.jpeg"
                  alt="Card image cap"
                />
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4
                  style="text-align: center; font-weight: bold; color: #054372"
                  class="card-title"
                >
                  Firtilizer d
                </h4>
                <!-- Text -->
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
