<body style="padding:0; margin: 0;">
<main class="page-content" style="padding:0; background-color: white;" >

    <div class="card" >
      <div class="content">
        <h2 class="title">Simplex Firtilizers</h2>
        <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
        <button [routerLink]='["../products/Simplex Firtilizers"]' class="btn">View Trips</button>
      </div>
    </div>

    <div class="card" >
        <div class="content">
          <h2 class="title">Intermediate Products</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button [routerLink]='["../products/Intermediate Products"]' class="btn">View Trips</button>
        </div>
      </div>
    
    
      <div class="card" >
        <div class="content">
          <h2 class="title">Complex Firtilizers</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button [routerLink]='["../products/Complex Firtilizers"]' class="btn">View Trips</button>
        </div>
      </div>



  </main>
</body>